@import "../../styles/mixins";
.blog-post-author {
  @include flex(column, flex-start, center, 13rem);
  flex: none;
  order: 1;
  padding: 0 1rem;
  .blog-post-author-img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    overflow: hidden;
  }
  .blog-post-author-desc {
    margin-bottom: 1rem;
    & a {
      color: #008329;
    }
  }
  .blog-post-author-text {
    font-size: 0.8125rem;
  }
}
@media (min-width: 1300px) {
  .blog-post-author {
    order: 0;
  }
}
