.login-button {
  padding: 0.5rem 0.875rem;
  border: 2px solid #797979;
  font-size: 0.94rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
  &:hover {
    background-color: #666666;
    color: #fff;
  }
}
