@import "../../styles/mixins";
.header {
  @include flex(column, center, center);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: white;
  z-index: 1000;
  &-in {
    @include flex(row, center, space-between);
    padding: 1.5rem;
    .header-right {
      @include flex(row, center, flex-end);
    }
  }
  .z-logo {
    z-index: 1001;
    flex: none;
  }
  .humburger {
    @include flex(column, center, center);
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fafafa;
    padding: 0.5rem;
    flex: none;
    z-index: 1001;
  }

  @media (min-width: 992px) {
    .humburger {
      display: none;
    }
  }
}
