@import "../../styles/mixins";
.error-page {
  @include flex(column, center, center);
  .error-heading-section {
    background-color: #fafafa;
    border-bottom: 1px solid rgba(204, 204, 204, 0.41);
    &-in {
      padding: 2.5rem 0;
      h1 {
        font-size: 2rem;
        line-height: 1.3;
        font-weight: 400;
      }
    }
  }
  .error-section {
    &-in {
      padding: 5rem 0;
      .not-found {
        font-size: 10rem;
        color: #dddddd;
      }
    }
  }
}
