@import "../../styles/mixins";
@import "../../styles/colors";

.navigation {
  @include flex(row, center, center, auto);
  &-link {
    @include flex(row, center, center);
    color: $navigationColor;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    &:hover {
      color: $navigationHoverColor;
    }
    &:last-child {
      margin-right: 0.25rem;
    }
  }
}
